<div id="procedure-show">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">
      <h3 class="show-header">{{procedure.name}}</h3>

      <input ng-model="search" class="show-search form-control center-block" placeholder="search">

    </div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Cash Price</th>
          <th>Insurance Price</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="providerProcedure in providerProcedures | filter:{provider: {name: search}}">
          <td><span class="clickable" ui-sref="providers.show({id: providerProcedure.provider.id})">{{providerProcedure.provider.name}}</span></td>
          
          <td ng-if="providerProcedure.cash_price">{{providerProcedure.cash_price | currency}}</td>
          <td ng-if="!providerProcedure.cash_price">N/A</td>
          
          <td ng-if="providerProcedure.insurance_price">{{providerProcedure.insurance_price | currency}}</td>
          <td ng-if="!providerProcedure.insurance_price">N/A</td>
          
          <td>{{providerProcedure.price_description ? providerProcedure.price_description : "N/A"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>