


#provider-show {
  .show-header {
    margin-bottom: 20px;
  }

  .show-search {
    width: 400px;
  }

  .panel-heading {
    background-color: #92B6D5;
  }

}


#procedure-show {
  
  .show-header {
    margin-bottom: 20px;
  }

  .show-search {
    width: 400px;
  }

  .panel-heading {
    background-color: #92B6D5;
  }

}